$arrow_size: 24px;

[data-accordeon] {
  display: block;
  position: relative;
  width: 100%;

  [data-accordeon-head] {
    cursor: pointer;
    user-select: none;
    outline: none;
    position: relative;
    width: 100%;
    min-height: $arrow_size;
    padding-right: calc($arrow_size + 10px);
    &:before {
      content: '';
      position: absolute;
      right: 0px;
      top: 50%;
      width: $arrow_size;
      height: $arrow_size;
      border-radius: $arrow_size;
      background: url('../img/svg/arrow-down.svg') no-repeat center center/cover;
      transform: translate(0%, -50%) rotate(0deg);
      transition: transform 0.5s ease 0s;
    }
  }
  &.active {
    > [data-accordeon-head] {
      &:before {
        transform: translate(0%, -50%) rotate(180deg);
      }
    }
  }

  &.red {
    [data-accordeon-head] {
      display: flex;
      position: relative;
      width: 100%;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
      align-content: flex-end;
      gap: 10px;
      padding-right: 0px;
      align-items: flex-end;

      &:before {
        display: block;
        flex-shrink: 0;
        order: 2;
        position: relative;
        top: auto;
        right: auto;
        width: $arrow_size;
        height: $arrow_size;
        transform: translate(0%, 5%) rotate(0deg);
        background: url('../img/svg/arrow-down-red.svg') no-repeat center center/cover;
      }
    }
    &.active {
      > [data-accordeon-head] {
        &:before {
          transform: translate(0%, 5%) rotate(180deg);
        }
      }
    }
  }
}

[data-accordeon-body] {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0px;
}
