.buttons {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.button {
  display: flex;
  min-height: 50px;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  padding: 0px 30px;
  background: var(--biege);

  span {
    display: block;
    font-family: var(--font);
    color: var(--white);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }

  > * {
    z-index: 1;
    pointer-events: none;
  }

  &.black {
    background: var(--black);
  }

  &.full {
    width: 100%;
  }

  &.small {
    min-height: 38px;
    padding: 0px 40px;
    span {
      line-height: 1;
    }
  }
}
