.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: auto;
  gap: 30px;
  background: var(--white);
  padding: 34px 20px;
  text-align: center;
  a {
    font-size: 16px;
    font-weight: 300;
    line-height: 2.1;
  }
}

.footer-navigation {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1px;
  a {
    color: var(--biege);
  }
}

.footer-links {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 20px;
  max-width: 284px;
  a {
    color: var(--brown);
  }
}
