.section--about {
  padding-bottom: 40px;
  img {
    max-width: 100%;
  }
}

.about {
  padding-top: 44px;
  height: 635px;
  background: #090502 url('../img/about/bg.webp') no-repeat center top;
  background-size: 802px auto;
  color: var(--white);

  p {
    display: block;
    max-width: 220px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.24;
  }

  img {
    width: 229px;
    margin-left: auto;
    margin-top: -74px;
  }
}

.about-circle {
  display: flex;
  position: relative;
  width: 420px;
  height: 420px;
  border-radius: 420px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 12px;
  background: url('../img/about/circle.webp') no-repeat center center/cover;
  left: 50%;
  margin-left: -210px;
  margin-top: -210px;

  img {
    width: 238px;
    margin-top: -114px;
  }

  p {
    display: block;
    max-width: 312px;
    text-align: center;
  }
}

.loyality-program {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 4px;
  text-align: center;

  .title {
    font-size: 32px;
    margin-bottom: 32px;
    color: var(--biege);
  }
}

.loyality-program {
  margin-top: 30px;
  .banner {
    margin: 0 auto;
    max-width: 100%;
  }
}
