:root {
  --font: 'geologica', 'Segoe UI', system-ui, -apple-system, Arial, sans-serif;
  --inter: 'introhead-b', 'Segoe UI', system-ui, sans-serif;
  --lifehack: 'lifehack', 'Segoe UI', system-ui, cursive, sans-serif;
  --fs: 14px;
  --lh: 1.24;
  --white: #ffffff;
  --black: #000000;
  --red: #ff001d;
  --bg: #ebdbca;
  --color: #583324;
  --light_biege: #ebdbca;
  --brown: #4f352a;
  --biege: #bf8445;
  --color: #583324;
  --invalid: #ff001d;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body,
.body {
  font-family: var(--font);
  font-size: var(--fs);
  color: var(--color);
  font-weight: 400;
  height: 100%;
  z-index: 0;
}

.body {
  display: grid;
  width: 100%;
  position: relative;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  background: var(--bg);
  -webkit-overflow-scrolling: touch;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b strong {
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
menu {
  list-style: none;
}

fieldset {
  border: none;
}

button {
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  color: inherit;
}
button:disabled {
  cursor: auto;
  pointer-events: none;
  opacity: 0.5;
}

.main {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  position: relative;
  width: 100%;
  height: auto;
}

.container {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0px 20px;
  z-index: 1;
}

.section {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.section.full {
  min-height: 100svh;
}
.section.visible {
  overflow: visible;
}

.preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 200;
  background: var(--biege);
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.preloader.hidden {
  pointer-events: none;
  opacity: 0;
}
.preloader.hidden span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.preloader-content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 4px;
}

@font-face {
  font-family: "geologica";
  src: url("../fonts/geologica-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "geologica";
  src: url("../fonts/geologica-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "geologica";
  src: url("../fonts/geologica-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "introhead-b";
  src: url("../fonts/introhead-b.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "lifehack";
  src: url("../fonts/lifehack.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.title {
  display: block;
  width: 100%;
  margin: 0 auto;
  line-height: 1.1;
  text-align: center;
}
.title.red {
  color: var(--red);
}
.title.circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 20px;
}
.title.circles:before, .title.circles:after {
  content: "";
  display: block;
  width: clamp(14px, 1.1111vw, 16px);
  height: clamp(14px, 1.1111vw, 16px);
  border-radius: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: var(--red);
}
.title.circles.green:before, .title.circles.green:after {
  background: var(--green);
}
.title.ta--l {
  text-align: left;
}
.title.upper {
  text-transform: uppercase;
}
.title.title--20 {
  font-size: clamp(14px, 1.3889vw, 20px);
}
.title.title--26 {
  font-size: clamp(26px, 1.8056vw, 26px);
}
.title.title--28 {
  font-size: clamp(22px, 1.9444vw, 50px);
}
.title.title--40 {
  font-size: clamp(26px, 2.7778vw, 40px);
}
.title.title--42 {
  font-size: clamp(32px, 2.9167vw, 42px);
}
.title.title--46 {
  font-size: clamp(40px, 3.1944vw, 82px);
}
.title.title--60 {
  font-size: clamp(40px, 4.1667vw, 60px);
  text-transform: uppercase;
}
.title.title--64 {
  font-size: clamp(40px, 4.4444vw, 64px);
  text-transform: uppercase;
}

.subtitle {
  font-size: clamp(20px, 1.6667vw, 24px);
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
}

:root {
  --input-font-family: var(--font);
  --input-font-size: 14px;
  --input-font-weight: 400;
  --input-text-transform: auto;
  --input-height: 36px;
  --input-padding: 0px 14px;
  --input-background: var(--white);
  --input-border: 2px solid var(--white);
  --input-border-radius: 5px;
  --input-color: var(--black);
  --input-placeholder-color: var(--black);
  --input-placeholder-opacity: 0.6;
  --invalid-border: 2px solid var(--yellow);
  --invalid-color: var(--invalid);
  --form-gap: 14px;
}
@media (max-width: 1439px) {
  :root {
    --input-height: 36px;
    --input-font-size: 14px;
    --input-border-radius: 5px;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  gap: var(--form-gap);
}
.form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}

.label {
  display: block;
  width: 100%;
  position: relative;
  color: inherit;
}
.label .label__text {
  display: block;
  width: 100%;
  padding: 0px 4px;
  font-size: 10px;
  font-family: var(--font);
  opacity: 0.5;
  font-weight: 500;
  text-align: left;
  padding-bottom: 5px;
}
.label .placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 0px;
  height: 100%;
  left: 18px;
  top: -2px;
}
@media (max-width: 767px) {
  .label .placeholder {
    top: 0px;
  }
}
.label .placeholder {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: var(--black);
  opacity: 0.6;
  -webkit-transform: scale(1) translate(0px, 0px);
      -ms-transform: scale(1) translate(0px, 0px);
          transform: scale(1) translate(0px, 0px);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  pointer-events: none;
  white-space: nowrap;
}

.input {
  width: 100%;
  height: var(--input-height);
  background: var(--input-background);
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  font-family: var(--input-font-family);
  font-size: var(--input-font-size);
  font-weight: var(--input-font-weight);
  color: var(--input-color);
  padding: var(--input-padding);
  text-transform: var(--input-text-transform);
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: none;
          box-shadow: none;
  resize: none;
}
.input::-webkit-input-placeholder {
  opacity: 0.7;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.input::-moz-placeholder {
  opacity: 0.7;
  -moz-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.input:-ms-input-placeholder {
  opacity: 0.7;
  -ms-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.input::-ms-input-placeholder {
  opacity: 0.7;
  -ms-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.input::placeholder {
  opacity: 0.7;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.input:focus::-moz-placeholder {
  opacity: 0;
}
.input:focus:-ms-input-placeholder {
  opacity: 0;
}
.input:focus::-ms-input-placeholder {
  opacity: 0;
}
.input:focus::placeholder {
  opacity: 0;
}
.input.input--textarea {
  height: 100px;
}
.input.invalid {
  border: var(--invalid-border);
  color: var(--red);
}
.input:not(:-moz-placeholder) + .placeholder {
  transform: scale(0.7) translate(0px, -18px);
}
.input:not(:-ms-input-placeholder) + .placeholder {
  -ms-transform: scale(0.7) translate(0px, -18px);
      transform: scale(0.7) translate(0px, -18px);
}
.input:focus + .placeholder, .input:not(:placeholder-shown) + .placeholder {
  -webkit-transform: scale(0.7) translate(0px, -18px);
      -ms-transform: scale(0.7) translate(0px, -18px);
          transform: scale(0.7) translate(0px, -18px);
}

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset !important;
          box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset !important;
  -webkit-text-fill-color: var(--input-color) !important;
  font-size: var(--input-font-size) !important;
  font-family: var(--input-font-family) !important;
  -webkit-transition: background-color 9999s ease-in-out 0s;
  transition: background-color 9999s ease-in-out 0s;
}

.inputError {
  display: block;
  width: 100%;
  height: 0px;
  position: absolute;
  left: 0px;
  text-align: left;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: var(--invalid);
  font-size: 14px;
  font-family: var(--font);
  z-index: 20;
  pointer-events: none;
}
.inputError span {
  display: inline-block;
  position: relative;
  padding: 5px 14px;
  color: var(--black);
  font-weight: 500;
  font-size: 11px;
  background: var(--yellow);
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  top: 0px;
  left: 0px;
  margin-top: 5px;
}
.inputError span:before {
  content: "";
  width: 8px;
  height: 8px;
  background: var(--yellow);
  position: absolute;
  left: 9px;
  top: -3px;
  -webkit-transform: scaleX(1.5) rotate(45deg);
      -ms-transform: scaleX(1.5) rotate(45deg);
          transform: scaleX(1.5) rotate(45deg);
}

.radio,
.checkbox {
  display: none;
}
.radio + .label__text,
.checkbox + .label__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  width: 100%;
  min-height: 26px;
  padding: 0px;
  padding-left: 40px;
  color: inherit;
  opacity: 1;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
}
.radio + .label__text span,
.checkbox + .label__text span {
  display: inline;
  font-size: 12px;
  line-height: 1.2;
}
.radio + .label__text span a,
.checkbox + .label__text span a {
  display: inline;
  width: auto;
  margin: 0;
  text-align: left;
  color: var(--yellow);
}
@media (hover: hover) {
  .radio + .label__text span a:hover,
  .checkbox + .label__text span a:hover {
    text-decoration: underline;
  }
}
.radio + .label__text:before,
.checkbox + .label__text:before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 26px;
  height: 26px;
  border-radius: 6px;
  border: 2px solid var(--white);
  background: rgba(0, 0, 0, 0);
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}
.radio:checked + .label__text:before,
.checkbox:checked + .label__text:before {
  background: var(--white) url("../img/svg/checkbox.svg") no-repeat center center;
  background-size: 100% 100%;
}
.radio.invalid + .label__text + .inputError,
.checkbox.invalid + .label__text + .inputError {
  top: 30px;
}
.radio.invalid + .label__text,
.checkbox.invalid + .label__text {
  color: var(--invalid);
}
.radio.invalid + .label__text:before,
.checkbox.invalid + .label__text:before {
  border: 2px solid var(--invalid);
}

.choices {
  background: none;
  border-radius: 5px;
  width: 100%;
  height: 36px !important;
  background: var(--white);
  font-family: var(--font);
  text-align: left;
  border: none;
  margin: 0 auto;
  z-index: 10;
}
.choices.is-open {
  border-radius: 5px 5px 0px 0px;
}
.choices.is-open .choices__inner {
  border-radius: 5px 5px 0px 0px;
}

.choices[data-type*=select-one] .choices__input {
  padding: 0;
  border-bottom: none;
  background-color: none;
  margin: 0;
}

.choices__inner {
  width: calc(100% - 40px);
  text-align: left;
  border: none;
  padding: 0 !important;
  border-radius: 0px 0px 5px 5px;
  font-size: 14px;
  font-weight: 500;
  color: var(--black);
  overflow: hidden;
}

.choices__list {
  border: none !important;
  overflow: hidden;
  padding: 0px;
  background: none;
}
.choices__list.choices__list--single {
  background: none !important;
  padding: 0px 14px !important;
}
.choices__list.choices__list--single > .choices__item {
  margin: 0;
  height: 36px;
  padding: 0px !important;
  font-size: 14px;
  margin-top: 0;
}

.choices__list--dropdown {
  left: 0px;
  width: 100% !important;
  border-radius: 0px 0px 5px 5px !important;
  border: none !important;
  border-top: none !important;
  font-size: 14px !important;
  font-weight: 500;
  text-align: left;
  background: var(--white) !important;
}
.choices__list--dropdown.is-active {
  background: none;
}
.choices__list--dropdown .choices__item {
  background: var(--white);
  opacity: 1;
}
.choices__list--dropdown .choices__item.is-highlighted {
  background: rgba(0, 0, 0, 0.1) !important;
}

.choices__item {
  display: block;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px !important;
  width: 100%;
  margin: 0 auto;
  padding: 0 !important;
  color: var(--black);
}
.choices__item.choices__item--selectable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 36px;
  padding: 0px 14px !important;
}
.choices__item:before, .choices__item:after {
  content: none !important;
}

.choices[data-type*=select-one]::after {
  width: 24px;
  height: 24px;
  border: none !important;
  margin: 0 !important;
  top: 50%;
  right: 6px;
  background: url("../img/svg/select.svg") no-repeat center center;
  -webkit-transform: translate(0px, -50%) rotate(0deg);
      -ms-transform: translate(0px, -50%) rotate(0deg);
          transform: translate(0px, -50%) rotate(0deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.choices.is-open[data-type*=select-one]::after {
  -webkit-transform: translate(0px, -50%) rotate(180deg);
      -ms-transform: translate(0px, -50%) rotate(180deg);
          transform: translate(0px, -50%) rotate(180deg);
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 53px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  padding: 0px 30px;
  background: var(--red);
  font-family: var(--font);
  font-weight: 500;
}
.button span {
  display: block;
  font-size: 18px;
  line-height: 1.2;
  -webkit-transition: color 0.5s ease-out 0s;
  transition: color 0.5s ease-out 0s;
}
@media (max-width: 1439px) {
  .button {
    height: 50px;
  }
  .button span {
    font-size: 16px;
    line-height: 1.4;
  }
}
.button > * {
  z-index: 1;
  pointer-events: none;
}
.button:before, .button:after {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: var(--black);
  z-index: 0;
  -webkit-transition: -webkit-transform 0.5s ease-out 0s;
  transition: -webkit-transform 0.5s ease-out 0s;
  transition: transform 0.5s ease-out 0s;
  transition: transform 0.5s ease-out 0s, -webkit-transform 0.5s ease-out 0s;
  border-radius: 10px;
}
.button:before {
  -webkit-transform: translate(-101%, 0%);
      -ms-transform: translate(-101%, 0%);
          transform: translate(-101%, 0%);
}
.button:after {
  -webkit-transform: translate(101%, 0%);
      -ms-transform: translate(101%, 0%);
          transform: translate(101%, 0%);
}
@media (hover: hover) {
  .button:hover:before, .button:hover:after {
    -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}
.button.big {
  height: 64px;
  padding: 0px 40px;
}
.button.big span {
  font-size: 24px;
}
.button.medium {
  height: 34px;
  padding: 0px 20px;
}
.button.medium span {
  font-size: 16px;
}
@media (max-width: 1439px) {
  .button.medium {
    height: 30px;
    padding: 0px 18px;
  }
  .button.medium span {
    font-size: 14px;
  }
}
@media (max-width: 1279px) {
  .button.medium {
    height: 40px;
    padding: 0px 32px;
  }
  .button.medium span {
    font-size: 20px;
  }
}
.button.small {
  height: 28px;
  border-radius: 20px;
  padding: 0px 14px;
}
.button.small span {
  font-size: 16px;
}
@media (max-width: 1439px) {
  .button.small {
    height: 24px;
    padding: 0px 14px;
  }
  .button.small span {
    font-size: 14px;
  }
}
@media (max-width: 1279px) {
  .button.small {
    height: 34px;
    padding: 0px 16px;
  }
  .button.small span {
    font-size: 20px;
  }
}
.button.green {
  background: var(--green);
}
.button.white {
  background: var(--white);
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
.button.white:before, .button.white:after {
  background: var(--black);
}
.button.white span {
  font-size: 16px;
  color: var(--black);
}
@media (hover: hover) {
  .button.white:hover span {
    color: var(--white);
  }
}
.button.green-white {
  background: var(--green);
}
.button.green-white:before, .button.green-white:after {
  background: var(--white);
}
.button.green-white span {
  color: var(--black);
}
.button.full {
  width: 100%;
  padding: 0px 10px;
}

.header {
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  top: 0px;
  left: 0px;
  z-index: 20;
  width: 100%;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: var(--brown);
}
.header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 40px;
}
.header .inner:last-child {
  background: var(--biege);
}

.tabs {
  width: 100%;
  display: block;
}

.tabs-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
  border-radius: 24px 24px 0px 0px;
  background: var(--red-dark);
}
.tabs-navigation li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.tabs-navigation li:first-child {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 36%;
}
.tabs-navigation li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  min-height: 66px;
  border-radius: 24px 24px 0px 0px;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 24px;
  font-weight: 500;
  font-family: var(--font);
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .tabs-navigation li button {
    min-height: 56px;
    font-size: 22px;
  }
}
.tabs-navigation li button.active {
  background: var(--red);
  pointer-events: none;
}

.tab {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 0px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.tab.active {
  opacity: 1;
}

.section--accordeon {
  background: var(--white);
  padding-bottom: 60px;
  overflow: visible;
}
@media (max-width: 1023px) {
  .section--accordeon {
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .section--accordeon .container {
    padding: 0px 10px;
  }
}

.section--accordeon__header {
  position: relative;
  background: var(--green);
  padding: 10px 20px;
  border-radius: 80px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  color: var(--white);
}
@media (max-width: 767px) {
  .section--accordeon__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 60px;
    padding-left: 24px;
    min-height: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section--accordeon__header .title {
    margin-right: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 30px;
    text-align: left;
  }
  .section--accordeon__header .title:before, .section--accordeon__header .title:after {
    content: none;
  }
}

.section--accordeon__body {
  color: var(--black);
}

[data-accordeon] {
  display: block;
  position: relative;
  width: 100%;
}
[data-accordeon] [data-accordeon-header] {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  position: relative;
}
[data-accordeon] [data-accordeon-header]:before {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  width: 42px;
  height: 42px;
  border-radius: 42px;
  background: var(--red) url("../img/svg/arrow-down.svg") no-repeat center center;
  background-size: 24px 12px;
  -webkit-transform: translate(0%, -50%) rotate(0deg);
      -ms-transform: translate(0%, -50%) rotate(0deg);
          transform: translate(0%, -50%) rotate(0deg);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
@media (max-width: 1279px) {
  [data-accordeon] [data-accordeon-header]:before {
    right: 14px;
  }
}
@media (max-width: 767px) {
  [data-accordeon] [data-accordeon-header]:before {
    right: 10px;
  }
}
[data-accordeon].active > [data-accordeon-header]:before {
  -webkit-transform: translate(0%, -50%) rotate(180deg);
      -ms-transform: translate(0%, -50%) rotate(180deg);
          transform: translate(0%, -50%) rotate(180deg);
}

[data-accordeon-body] {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0px;
}

.body.locked {
  overflow-x: hidden;
  overflow-y: hidden;
}

.backdrop {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: opacity;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 34px 10px 20px 10px;
  backdrop-filter: blur(5px);
  -webkit-transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
.backdrop:before {
  content: "";
  display: block;
  position: absolute;
  pointer-events: none;
  left: -20px;
  right: -20px;
  top: -50px;
  width: calc(100% + 40px);
  height: calc(100% + 70px);
  background: rgba(0, 0, 0, 0.4);
  grid-area: 1/1/2/2;
}

.popup {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translate(0px, 50px);
      -ms-transform: translate(0px, 50px);
          transform: translate(0px, 50px);
  opacity: 0;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  pointer-events: none;
}
.popup.visible {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.popup-close {
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  left: 100%;
  top: 0px;
  cursor: pointer;
}
@media (max-width: 767px) and (orientation: portrait) {
  .popup-close {
    left: calc(100% - 32px);
    top: -32px;
  }
}
.popup-close:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  background: url("../img/svg/close.svg") no-repeat center center/cover;
}
.popup-close:hover:after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.popup-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  gap: 18px;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 375px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: var(--red);
  color: var(--white);
  border-radius: 20px;
  padding: 32px;
}
@media (max-width: 499px) {
  .popup-content {
    padding: 32px 20px;
  }
}
.popup-content {
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  pointer-events: all;
}
.popup-content .button {
  margin: 0 auto;
}
.popup-content .button.white:before, .popup-content .button.white:after {
  background: var(--black);
}

.popup-title,
.popup-subtitle,
.popup-text {
  display: block;
  width: 100%;
  text-align: center;
  font-family: var(--font);
}
.popup-title.ta--l,
.popup-subtitle.ta--l,
.popup-text.ta--l {
  text-align: left;
}

.popup-title {
  font-size: 24px;
  line-height: 1.24;
  font-weight: 500;
}
.popup-title.big {
  font-size: 32px;
  line-height: 1.1;
}

.popup-subtitle {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
}
.popup-subtitle.big {
  font-size: 20px;
}

.popup-text {
  font-size: 12px;
  line-height: 1.4;
  font-weight: 400;
}
.popup-text.medium {
  font-size: 14px;
}
.popup-text.big {
  font-size: 24px;
}

.popup-link {
  display: block;
  font-family: var(--font);
  font-size: 14px;
  line-height: 1.1;
  font-weight: 500;
  color: var(--yellow);
  cursor: pointer;
  margin: 0 auto;
  margin-top: 10px;
}
.popup-link.under {
  text-decoration: none !important;
  border-bottom: 1px solid var(--yellow);
}
.popup-link.ta--l {
  margin-left: 0px;
}
@media (hover: hover) {
  .popup-link:hover {
    text-decoration: underline;
  }
}

.register-check-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  font-family: var(--font);
  text-align: left;
}
.register-check-list li {
  position: relative;
  padding-left: 40px;
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .register-check-list li {
    font-size: 14px;
  }
}
.register-check-list li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  margin: 5px 0px;
  padding-left: 5px;
}
.register-check-list li ul li {
  padding-left: 0px;
  list-style: disc;
  list-style-position: inside;
  font-size: 12px;
}
.register-check-list li ul li span {
  font-size: 16px;
}
.register-check-list li img {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 0px;
  top: -5px;
}
@media (max-width: 767px) {
  .register-check-list li img {
    width: 25px;
    height: 25px;
    left: 0px;
    top: -6px;
  }
}

.example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 10px;
}
.example img {
  width: 100%;
}
.example span {
  font-size: 12px;
  opacity: 0.7;
}

.scanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  border: 6px solid var(--yellow);
  background: var(--black);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.scanner video {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.scanner .scanner__error {
  display: block;
  position: absolute;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 13px;
  line-height: 1.4;
  font-weight: 400;
  color: var(--invalid);
  z-index: 10;
}

#subscribe-success {
  max-width: 360px;
}
#subscribe-success .title {
  font-size: 24px;
  font-family: var(--montserrat);
}
#subscribe-success p {
  font-size: 14px;
  font-family: var(--montserrat);
}
#subscribe-success .button {
  padding: 20px 32px;
  background: var(--white);
  border-radius: 50px;
}
#subscribe-success .button span {
  color: var(--black);
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
@media (hover: hover) {
  #subscribe-success .button:hover span {
    color: var(--white);
  }
}

#auth {
  max-width: 375px;
  background: var(--red);
  border-radius: 24px;
  padding: 0;
}
#auth .tabs {
  overflow: hidden;
}
#auth .tab {
  background: var(--red);
  border-radius: 0px 0px 24px 24px;
}
#auth .form {
  padding: 24px 40px 36px 40px;
}
#auth [data-tab=auth-register] [data-tab="1"] .button[type=submit] {
  margin-top: 14px;
}

#add-register-info {
  max-width: 375px;
  gap: 10px;
  margin-top: 50px;
}
#add-register-info .button[type=submit] {
  margin-top: 20px;
}

#arrows-exchange,
#arrows-exchange-error,
#arrows-exchange-success {
  margin-top: 25px;
}
#arrows-exchange .arrows-exchange__image,
#arrows-exchange-error .arrows-exchange__image,
#arrows-exchange-success .arrows-exchange__image {
  width: 100px;
  margin-top: -82px;
}
#arrows-exchange form .button,
#arrows-exchange-error form .button,
#arrows-exchange-success form .button {
  margin-top: 14px;
}
#arrows-exchange .buttons,
#arrows-exchange-error .buttons,
#arrows-exchange-success .buttons {
  margin-top: 14px;
}
#arrows-exchange .popup-text,
#arrows-exchange-error .popup-text,
#arrows-exchange-success .popup-text {
  font-size: 14px;
  max-width: 280px;
}

#cheque .buttons {
  margin-top: 20px;
  gap: 20px;
}

#how-to-get-arrows {
  border-radius: clamp(20px, 2.7778vw, 40px);
  max-width: 1240px;
  padding: 54px 20px;
  background: var(--green);
}
@media (max-width: 1365px) {
  #how-to-get-arrows {
    max-width: 1100px;
    padding: 40px 20px;
  }
}
@media (max-width: 1279px) {
  #how-to-get-arrows {
    max-width: 620px;
  }
}
@media (max-width: 767px) {
  #how-to-get-arrows {
    max-width: 375px;
    padding: 30px 20px;
  }
  #how-to-get-arrows .title--40 {
    max-width: 200px;
  }
}

#how-to-get-arrows-sm {
  border-radius: clamp(20px, 2.7778vw, 40px);
  max-width: 940px;
  padding: 54px 20px;
  background: var(--green);
}
#how-to-get-arrows-sm li:nth-child(1):before {
  -webkit-transform: translateX(-60%) rotate(22.15deg);
      -ms-transform: translateX(-60%) rotate(22.15deg);
          transform: translateX(-60%) rotate(22.15deg);
}
@media (max-width: 1365px) {
  #how-to-get-arrows-sm li:nth-child(1):before {
    -webkit-transform: translateX(-60%) rotate(22.15deg);
        -ms-transform: translateX(-60%) rotate(22.15deg);
            transform: translateX(-60%) rotate(22.15deg);
  }
}
#how-to-get-arrows-sm li:nth-child(1):after {
  -webkit-transform: translateX(0%) rotate(16.61deg);
      -ms-transform: translateX(0%) rotate(16.61deg);
          transform: translateX(0%) rotate(16.61deg);
}
#how-to-get-arrows-sm li:nth-child(2):before {
  bottom: 126%;
  -webkit-transform: translateX(0%) rotate(8.48deg);
      -ms-transform: translateX(0%) rotate(8.48deg);
          transform: translateX(0%) rotate(8.48deg);
}
#how-to-get-arrows-sm li:nth-child(2):after {
  content: "";
  top: 112%;
  -webkit-transform: translateX(0%) rotate(-16.61deg);
      -ms-transform: translateX(0%) rotate(-16.61deg);
          transform: translateX(0%) rotate(-16.61deg);
}
#how-to-get-arrows-sm li:nth-child(3):before {
  bottom: 126%;
  -webkit-transform: translateX(55%) rotate(-14deg);
      -ms-transform: translateX(55%) rotate(-14deg);
          transform: translateX(55%) rotate(-14deg);
}
#how-to-get-arrows-sm li:nth-child(3):after {
  top: 114%;
  -webkit-transform: translateX(0%) rotate(13deg);
      -ms-transform: translateX(0%) rotate(13deg);
          transform: translateX(0%) rotate(13deg);
}
@media (max-width: 1365px) {
  #how-to-get-arrows-sm {
    padding: 40px 20px;
  }
}
@media (max-width: 1279px) {
  #how-to-get-arrows-sm {
    max-width: 620px;
  }
  #how-to-get-arrows-sm li {
    min-width: 200px;
  }
  #how-to-get-arrows-sm li:nth-child(1) {
    margin-top: -20px;
  }
  #how-to-get-arrows-sm li:nth-child(1):before {
    -webkit-transform: translateX(0%) rotate(11.15deg);
        -ms-transform: translateX(0%) rotate(11.15deg);
            transform: translateX(0%) rotate(11.15deg);
    bottom: 120%;
  }
  #how-to-get-arrows-sm li:nth-child(2) {
    margin-top: 80px;
  }
  #how-to-get-arrows-sm li:nth-child(2):after {
    -webkit-transform: translateX(0%) rotate(-11.15deg) scaleX(-1);
        -ms-transform: translateX(0%) rotate(-11.15deg) scaleX(-1);
            transform: translateX(0%) rotate(-11.15deg) scaleX(-1);
  }
  #how-to-get-arrows-sm li:nth-child(3) {
    width: 265px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-right: auto;
    margin-top: -60px;
  }
  #how-to-get-arrows-sm li:nth-child(3):before, #how-to-get-arrows-sm li:nth-child(3):after {
    content: none;
  }
}
@media (max-width: 767px) {
  #how-to-get-arrows-sm {
    max-width: 375px;
    padding: 30px 20px;
  }
  #how-to-get-arrows-sm .how-to-get-arrows {
    margin-bottom: 0px;
  }
  #how-to-get-arrows-sm li {
    min-width: 200px;
  }
  #how-to-get-arrows-sm li:nth-child(1) {
    margin-top: 0px;
  }
  #how-to-get-arrows-sm li:nth-child(1):before {
    -webkit-transform: translateX(0%) rotate(11.15deg);
        -ms-transform: translateX(0%) rotate(11.15deg);
            transform: translateX(0%) rotate(11.15deg);
    bottom: 120%;
  }
  #how-to-get-arrows-sm li:nth-child(2) {
    margin-top: 0px;
  }
  #how-to-get-arrows-sm li:nth-child(2):after {
    content: none;
  }
  #how-to-get-arrows-sm li:nth-child(3) {
    width: 100%;
    margin-top: 0px;
  }
  #how-to-get-arrows-sm li:nth-child(3):before, #how-to-get-arrows-sm li:nth-child(3):after {
    content: none;
  }
}

.how-to-get-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1156px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  gap: 12px;
  margin: clamp(50px, 6.9444vw, 100px) 0px clamp(32px, 5.5556vw, 80px) 0px;
}
.how-to-get-arrows li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  background: #eef2ec;
  margin-bottom: -40px;
  padding-top: 14px;
}
.how-to-get-arrows li:first-child, .how-to-get-arrows li:last-child {
  margin-bottom: 0px;
  margin-top: -40px;
}
.how-to-get-arrows li:before, .how-to-get-arrows li:after {
  content: "";
  position: absolute;
  width: clamp(100px, 9.7222vw, 140px);
  height: 28px;
  background: url("../img/svg/fork.svg") no-repeat center center/contain;
}
.how-to-get-arrows li:before {
  bottom: 130%;
}
.how-to-get-arrows li:after {
  top: 120%;
}
.how-to-get-arrows li:nth-child(1):before {
  -webkit-transform: translateX(-70%) rotate(22.15deg);
      -ms-transform: translateX(-70%) rotate(22.15deg);
          transform: translateX(-70%) rotate(22.15deg);
}
@media (max-width: 1365px) {
  .how-to-get-arrows li:nth-child(1):before {
    -webkit-transform: translateX(-60%) rotate(22.15deg);
        -ms-transform: translateX(-60%) rotate(22.15deg);
            transform: translateX(-60%) rotate(22.15deg);
  }
}
.how-to-get-arrows li:nth-child(1):after {
  -webkit-transform: translateX(70%) rotate(16.61deg);
      -ms-transform: translateX(70%) rotate(16.61deg);
          transform: translateX(70%) rotate(16.61deg);
}
.how-to-get-arrows li:nth-child(2):before {
  bottom: 126%;
  -webkit-transform: translateX(0%) rotate(8.48deg);
      -ms-transform: translateX(0%) rotate(8.48deg);
          transform: translateX(0%) rotate(8.48deg);
}
.how-to-get-arrows li:nth-child(2):after {
  content: none;
}
.how-to-get-arrows li:nth-child(3):before {
  bottom: 126%;
  -webkit-transform: translateX(76%) rotate(-14deg);
      -ms-transform: translateX(76%) rotate(-14deg);
          transform: translateX(76%) rotate(-14deg);
}
.how-to-get-arrows li:nth-child(3):after {
  top: 108%;
  -webkit-transform: translateX(-36%) rotate(-13deg);
      -ms-transform: translateX(-36%) rotate(-13deg);
          transform: translateX(-36%) rotate(-13deg);
}
.how-to-get-arrows li:nth-child(4):before {
  content: none;
}
.how-to-get-arrows li:nth-child(4):after {
  top: 110%;
  -webkit-transform: translateX(0%) rotate(12deg);
      -ms-transform: translateX(0%) rotate(12deg);
          transform: translateX(0%) rotate(12deg);
}
.how-to-get-arrows li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: var(--red);
  position: absolute;
  top: 0px;
  height: 50px;
  margin-top: -25px;
  line-height: 50px;
  padding: 18px 24px;
  border-radius: 18px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
}
.how-to-get-arrows li p {
  color: var(--black);
  font-size: clamp(18px, 1.3889vw, 20px);
  line-height: 1.3;
  font-weight: 700;
}
@media (max-width: 1279px) {
  .how-to-get-arrows {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 550px;
    gap: 50px 20px;
    margin-top: 100px;
  }
  .how-to-get-arrows:before, .how-to-get-arrows:after {
    margin: 0;
  }
  .how-to-get-arrows li {
    min-width: 200px;
  }
  .how-to-get-arrows li:nth-child(1) {
    margin-top: -20px;
  }
  .how-to-get-arrows li:nth-child(1):before {
    -webkit-transform: translateX(0%) rotate(11.15deg);
        -ms-transform: translateX(0%) rotate(11.15deg);
            transform: translateX(0%) rotate(11.15deg);
    bottom: 120%;
  }
  .how-to-get-arrows li:nth-child(1):after {
    content: none;
  }
  .how-to-get-arrows li:nth-child(2) {
    margin-top: 40px;
  }
  .how-to-get-arrows li:nth-child(2):before {
    bottom: 120%;
    -webkit-transform: translateX(0%) rotate(-8.48deg) scaleX(-1);
        -ms-transform: translateX(0%) rotate(-8.48deg) scaleX(-1);
            transform: translateX(0%) rotate(-8.48deg) scaleX(-1);
  }
  .how-to-get-arrows li:nth-child(3):before {
    bottom: 112%;
    -webkit-transform: translateX(90%) rotate(22deg);
        -ms-transform: translateX(90%) rotate(22deg);
            transform: translateX(90%) rotate(22deg);
  }
  .how-to-get-arrows li:nth-child(4) {
    margin-top: 50px;
  }
  .how-to-get-arrows li:nth-child(4):after {
    top: 110%;
    -webkit-transform: translateX(0%) rotate(12deg);
        -ms-transform: translateX(0%) rotate(12deg);
            transform: translateX(0%) rotate(12deg);
  }
}
@media (max-width: 767px) {
  .how-to-get-arrows {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
    gap: 40px;
    margin-top: 70px;
  }
  .how-to-get-arrows li {
    width: 100%;
    min-width: 100%;
    min-height: 180px;
    padding: 42px 20px 26px 20px;
    margin: 0;
  }
  .how-to-get-arrows li:before, .how-to-get-arrows li:after, .how-to-get-arrows li:nth-child(1), .how-to-get-arrows li:nth-child(2), .how-to-get-arrows li:nth-child(3), .how-to-get-arrows li:nth-child(4) {
    content: none;
    margin: 0;
  }
  .how-to-get-arrows li:nth-child(1):before {
    content: "";
    -webkit-transform: translateX(0%) rotate(8deg);
        -ms-transform: translateX(0%) rotate(8deg);
            transform: translateX(0%) rotate(8deg);
    bottom: 120%;
  }
  .how-to-get-arrows li:nth-child(4):after {
    content: "";
    top: 105%;
    -webkit-transform: translateX(0%) rotate(12deg);
        -ms-transform: translateX(0%) rotate(12deg);
            transform: translateX(0%) rotate(12deg);
  }
}

.popup-ol {
  text-align: left;
  font-weight: 400;
  font-size: clamp(16px, 1.6667vw, 24px);
  line-height: 1.4;
  list-style: decimal;
  padding-left: 1.2em;
}
.popup-ol li {
  padding: 10px 0px;
}

#how-to-play {
  max-width: 640px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 20px;
}
#how-to-play .buttons {
  margin-top: 10px;
}
#how-to-play .buttons .button {
  width: 100%;
  max-width: 310px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: auto;
  gap: 30px;
  background: var(--white);
  padding: 34px 20px;
  text-align: center;
}
.footer a {
  font-size: 16px;
  font-weight: 300;
  line-height: 2.1;
}

.footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 1px;
}
.footer-navigation a {
  color: var(--biege);
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 20px;
  max-width: 284px;
}
.footer-links a {
  color: var(--brown);
}